
.is-dark {
  background-color: #25272A !important;
}

#cover {
  margin-top: -88px;
  height: 400px;
  background-image: url(../images/cover.png);
  background-size: auto 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #25272A;
  /* background-color: #000; */
}

#badge {
  margin-top: 16px;
  text-align: center;
}

#badge img {
  width: calc(128px + 64px);
}

#app-screen {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 1024px) {
  #cover {
    height: 300px;
    margin-top: 0;
  }
}
