
.is-dark {
  background-color: #25272A !important;
}

#cover {
  margin-top: -88px;
  height: 400px;
  background-image: url(../images/cover.png);
  background-size: auto 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #25272A;
  /* background-color: #000; */
}

.badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.badges > .badge {
  margin-top: 16px;
  text-align: center;
}

.badges > .badge:not(:last-child) {
  margin-right: 16px;
}

.badges > .badge.android img {
  height: 64px;
}

.badges > .badge.ios img {
  height: 44px;
}

#app-screen {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 1024px) {
  #cover {
    height: 300px;
    margin-top: 0;
  }
}
