@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}

a {
  color: dodgerblue;
}

li {
  margin-left: 16px;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, hr {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alata', sans-serif;
}

code {
  font-size: 14px;
  display: block;
  margin-bottom: 16px;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credits {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding: 32px 0;
}

.container {
  max-width: 664px;
  margin: 0 auto;
  padding: 0 32px
}

.footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.footer > .social {
  margin-bottom: 16px;
  text-align: center;
}

.footer > .social > * {
  color: black;
}

.footer > .social > *:not(:last-child) {
  margin-right: 16px;
}

.footer > .links {
  margin-bottom: 16px;
}

.footer > .links > * {
  text-decoration: none;
  color: #7e8190;
}

.footer > .links > *:hover {
  color: black;
}

.footer > .links > *:not(:last-child) {
  margin-right: 16px;
}

.app-badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-badges img.ios {
  height: 40px;
}

.app-badges img.android {
  height: 58px;
}

.fa-instagram {
  color: #E1306C;
}

.fa-telegram {
  color: #28a7e5;
}

.fa-tiktok {
  color: #24292e;
}

.fa-discord {
  color: #5865f2;
}

@media (prefers-color-scheme: dark) {
  .footer > .social > * {
    color: white;
  }
  
  .footer > .links > *:hover {
    color: white;
  }

  .fa-tiktok {
    color: white;
  }
}

/* https://stackoverflow.com/a/54702294/10309700 */

.rainbow {
  background: linear-gradient(to right, #6666ff, #0099ff, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 3s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow-animation {
  0%, 100% {
      background-position: 0 0;
  }
  50% {
      background-position: 100% 0;
  }
}
